:root {
  --color-blue1: #044b9b;
  --color-blue2: #0b77ef;
  --color-blue3: #469af7;

  --color-black1: #000;
  --color-black2: #242e40;
  --color-black3: #001833;

  --color-white1: #fff;
  --color-white2: #75b3f7;
  --color-white3-form: #eff3f3;
  --color-white4-footer: #4d657f;

  --color-grey1: #c0c0c0;
  --color-grey2: #929292;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

/* _______HEADER_______ */

.header__menu-burger {
  display: none;
}

.header {
  background-color: var(--color-blue1);
}

.header-logo__svg {
  width: 170px;
  height: 28.59px;
  margin: 5px 0 0 10px;
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header-nav__items {
  display: flex;
  justify-content: space-between;
  gap: 44px;
  color: var(--color-white2);
  cursor: pointer;
}

.header-nav__item {
  display: flex;
  gap: 12px;
}

/* _________MAIN_____________ */

.main {
  background-color: #e5e5e5;
  /* padding-left: 20px; */
}
.main-wrapper {
  padding-left: 11px;
}

.main__first-block {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.main-title {
  color: var(--color-black2);
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
  letter-spacing: normal;
}

/* FILTER BOX */
.filter-block__title {
  padding: 29px 0 8px 34px;
}

.filter-icon {
  width: 18px;
  height: 20px;
  position: relative;
  top: 4px;
  right: 12px;
}
/* .filter-block__title::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 18px;
  height: 20px;
  background: url(./assets/img/settings.png) no-repeat;
  z-index: 1;
} */

.filter-block__description {
  color: var(--color-grey2);
  padding-left: 20px;
  letter-spacing: 1.1px;
  padding-bottom: 30px;
}

.main__filter-block {
  width: 100%;
  height: 385px;
  background-color: var(--color-white1);
  border-radius: 10px;
  box-shadow: 10px 9px 25px rgba(0, 0, 0, 0.03);
}

.filter-block__select-box {
  position: relative;
  display: inline-block;
  padding-left: 5px;
}
.filter-block__select-box:first-child {
  padding-left: 20px;
}
.filter-block__select-box:nth-child(4) {
  margin-top: 10px;
  margin-left: 15px;
}

.form-select {
  display: inline-block;
  background-color: var(--color-white3-form);
  border-radius: 5px;
  width: 150px;
  height: 40px;
  appearance: none;
  outline: none;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}
.form-select > option {
  color: var(--color-black2);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  letter-spacing: 0;
}

.form-select:hover {
  background: #001833;
  transition: all 0.5s ease-in-out;
  color: var(--color-white1);
}

.filter-block__select-box .arrow {
  width: 14px;
  height: 8px;
  position: absolute;
  display: inline-block;
  top: 15px;
  right: 10px;
  background: url(./assets/img/Icon.png) no-repeat;
  pointer-events: none;
}

.filter-block__button {
  width: 145px;
  height: 40px;
  background-color: var(--color-blue2);
  border: none;
  color: var(--color-white1);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  right: -21.5rem;
  top: 6.6rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.filter-block__button:hover {
  background-color: #eff3f3;
  transition: all 0.5s ease-in-out;
  color: #c0c0c0;
}

/* _____box right side_______ */

.main__right-block {
  width: 100%;
  height: 385px;
  background-color: var(--color-white1);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  box-shadow: 10px 9px 25px rgba(0, 0, 0, 0.03);
  padding: 30px 12px;
}

.box1-image {
  width: 282px;
  height: 265px;
}

.box1-button {
  height: 40px;
  background-color: var(--color-blue2);
  border: none;
  color: var(--color-white1);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}
.box1-button:hover {
  background-color: #eff3f3;
  transition: all 0.5s ease-in-out;
  color: #c0c0c0;
}

.box1__left-side {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.box1-title {
  font-weight: bold;
  letter-spacing: unset;
  /* padding: 27px 0 7px 0; */
}
.box1-description {
  letter-spacing: 1.2px;
  color: var(--color-grey2);
}

.columns-wrapper__df {
  display: flex;
  gap: 30px;
}

.box1__right-side {
  width: 100%;
}

/* ___progress-bar___ */
.progress-container {
  background-color: #eff3f3;
  width: 204px;
  border-radius: 15px;
  height: 4px;
  margin-top: 4px;
  padding-bottom: 5px;
}

.progress-bar {
  background-color: var(--color-blue2);
}

/* ___PROGRESS BAR SCORE____ */
.color-p {
  width: 128px;
  height: 4px;
  border-radius: 3px;
}
.medium-p {
  width: 143px;
  height: 4px;
  border-radius: 3px;
}
.shine-p {
  width: 143px;
  height: 4px;
  border-radius: 3px;
}
.ball-p {
  width: 110px;
  height: 4px;
  border-radius: 3px;
}
.ball {
  padding-left: 130px;
  color: var(--color-blue2);
  font-weight: bold;
}
/* _______________ */

.grey-p {
  color: var(--color-grey2);
}

.progress-score {
  padding-left: 44%;
  color: var(--color-blue2);
  font-weight: bold;
}

.first-column__item h4 {
  padding-top: 16px;
  letter-spacing: unset;
}
.second-column__item h4 {
  padding-top: 16px;
  letter-spacing: unset;
}

.span-content {
  color: var(--color-black2);
  font-size: 28px;
  line-height: 24px;
  margin-top: 6px;
  display: block;
  letter-spacing: 0;
}

.end {
  text-align: end;
  padding: 15px 0 10px 0;
  position: relative;
}

.more {
  color: var(--color-blue3);
  letter-spacing: 0;
  padding-right: 29px;
  cursor: pointer;
}
.arrow-p {
  width: 14px;
  height: 8px;
  position: absolute;
  top: 25px;
  right: 0px;
  background: url(./assets/img/more-ic.png) no-repeat;
  pointer-events: none;
  cursor: pointer;
}

/* _______diagramma_________ */
.main__second-block {
  width: 100%;
  height: 472px;
  background: var(--color-white1);
  border-radius: 10px;
  box-shadow: 10px 9px 25px rgba(0, 0, 0, 0.03);
  margin-top: 30px;
}

.top-block {
  display: flex;
  padding: 28px 20px;
  flex-grow: 1;
}

.top-block__items-title {
  font-size: 16px;
  letter-spacing: 0;
}

.top-block__colors {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.top-block__colors:nth-child(1) {
  padding-right: 12.4rem;
}
.top-block__colors:nth-child(2) {
  padding-right: 10.5rem;
}
.top-block__colors:nth-child(3) {
  padding-right: 11.1rem;
}

.color span {
  width: 14px;
  height: 14px;
  color: var(--color-blue2);
  font-weight: bold;
  display: inline-block;
  padding-left: 25px;
}

.color {
  display: inline-flex;
  position: relative;
  margin: 0 0 0 29px;
}
.blue::before {
  content: "";
  position: absolute;
  left: -29px;
  top: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #0e6fe2;
  display: inline-block;
}
.red::before {
  content: "";
  position: absolute;
  left: -29px;
  top: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ff3d00;
  display: inline-block;
}
.green::before {
  content: "";
  position: absolute;
  left: -29px;
  top: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #00a556;
  display: inline-block;
}
.yellow::before {
  content: "";
  position: absolute;
  left: -29px;
  top: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #f6d43e;
  display: inline-block;
}

/*  */

.score {
  color: var(--color-blue2);
  font-weight: bold;
  display: inline-block;
  margin-left: 39px;
}

/* DIAGRAMMS */
.lower-block__diagramma {
  display: flex;
  padding-left: 100px;
  gap: 14.5%;
  position: relative;
}

.diagramma {
  max-width: 200px;
}

.unit {
  fill: none;
  stroke-width: 11.5;
  cursor: pointer;
}

.unit:nth-child(1) {
  stroke: #0e6fe2;
}

.unit:nth-child(2) {
  stroke: #00a556;
  stroke-dasharray: 32 100;
  stroke-dashoffset: -39;
}

.unit:nth-child(3) {
  stroke: #ff3d00;
  stroke-dasharray: 11 100;
  stroke-dashoffset: -70;
}

.unit:nth-child(4) {
  stroke: #f6d43e;
  stroke-dasharray: 9 100;
  stroke-dashoffset: -80;
}

.unit-third:nth-child(3) {
  stroke: #ff3d00;
  stroke-dasharray: 16 100;
  stroke-dashoffset: -71;
}

.unit-fourth:nth-child(1) {
  stroke: #0e6fe2;
}

.unit-fourth:nth-child(2) {
  stroke: #00a556;
  stroke-dasharray: 49 100;
  stroke-dashoffset: -39;
}

.close {
  display: block;
  position: absolute;
  bottom: -43px;
  right: 50px;
  color: #469af7;
  letter-spacing: 0;
  cursor: pointer;
}
.arrow-q {
  width: 14px;
  height: 8px;
  position: absolute;
  bottom: -35px;
  right: 20px;
  background: url(./assets/img/more-ic.png) no-repeat;
  pointer-events: none;
  cursor: pointer;
}

/* _________lower block with BOXS_________ */

.container {
  max-width: 1340px;
  margin: 0 auto;
}

.third-block__bg {
  background-color: var(--color-white1);
  margin-top: 40px;
  margin-bottom: 85px;
}

.main__third-block {
  padding: 37px 0 0 20px;
}

.third-block__pd {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.mini-block {
  max-width: 240px;
  width: 100%;
  height: 150px;
  background: url(./assets/img/Бокс\ 1.png) no-repeat;
  padding: 20px 20px;
}

.third-block__title {
  width: 100%;
}

.mini-block__title {
  color: var(--color-white2);
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
}

.mini-block__number {
  color: var(--color-white1);
  font-size: 50px;
  font-weight: bold;
  line-height: 59px;
}

/* __________FOOOTERERR_________ */

.footer {
  background: var(--color-black3);
  height: 300px;
  width: 100%;
}

.footer-pd {
  padding: 41px 0 0 10px;
}

.footer-items {
  display: flex;
  gap: 41px;
  color: var(--color-white4-footer);
  letter-spacing: 0;
}

.footer-item:nth-child(2) {
  padding-right: 35px;
}
.footer-item:nth-child(3) {
  padding-right: 35px;
}
.footer-item:nth-child(4) {
  padding-right: 40px;
}

.footer-item__title {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  padding-bottom: 7px;
}

.logo {
  width: 230px;
  height: 35px;
  padding-top: 5px;
  cursor: pointer;
}

.footer-item__p {
  max-width: 100px;
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.tablet-diagramma {
  display: none;
}

/* ___________MEDIA QUARES___________ */

@media (max-width: 1330px) {
  .header-nav__item {
    padding-right: 10px;
  }

  .main-wrapper {
    padding: 0 10px;
  }

  .filter-block__button {
    right: calc(-21.5rem + 65%);
  }

  .main__right-block {
    max-width: 780px;
  }

  .filter-block__select-box:nth-child(4) {
    margin: unset;
  }
  .filter-block__select-box:first-child {
    padding-left: 5px;
  }
  .filter-block__select-box {
    padding-top: 5px;
  }

  .main__filter-block {
    margin-right: 10px;
    max-width: 510px;
  }

  .columns-wrapper__df {
    justify-content: start;
  }

  .box1__left-side {
    padding: 30px 10px;
  }

  .main__third-block {
    gap: 10px;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .lower-block__diagramma {
    justify-content: center;
    padding-left: unset;
    gap: 10%;
  }

  .top-block {
    justify-content: space-around;
  }

  .top-block__colors:nth-child(1),
  .top-block__colors:nth-child(2),
  .top-block__colors:nth-child(3) {
    padding-right: unset;
  }

  .filter-block__button {
    left: 5px;
    top: 10px;
  }
}

@media (max-width: 1084px) {
  .filter-block__button {
    left: 5px;
    top: 10px;
  }
  .filter-block__description {
    padding: 5px 5px;
  }

  .end {
    text-align: unset;
  }

  .arrow-p {
    right: 100px;
  }
}

@media (max-width: 950px) {
  .main__first-block {
    flex-direction: column-reverse;
    align-items: center;
  }

  .main__filter-block {
    margin-top: 10px;
    height: 290px;
  }

  .footer-item__title {
    padding: unset;
  }
  .lower-block__diagramma {
    gap: 5%;
  }

  .header-nav__items {
    gap: 10px;
  }

  .footer-items {
    gap: 9px;
  }

  .progress-container {
    max-width: 204px;
  }
}

@media (max-width: 768px) {

  .main__filter-block {
    max-width: 780px;
    width: 100%;
    margin: unset;
  }
  .color span {
    padding-left: 5px;
  }

  .box1-image {
    width: 180px;
    height: 170px;
  }

  .main__right-block {
    width: 100%;
  }

  .footer-items {
    gap: 9px;
  }

  .color {
    margin: 0 0 0 10px;
  }

  .blue::before,
  .red::before,
  .green::before,
  .yellow::before {
    left: -18px;
  }

  .blue::after,
  .red::after,
  .green::after,
  .yellow::after {
    right: 25px;
    top: 0;
  }

  .lower-block__diagramma {
    display: none;
  }

  .tablet-diagramma {
    display: block;
  }

  .top-block__colors {
    justify-content: space-between;
  }

  .footer-item__p {
    font-size: 10px;
    line-height: 10px;
    padding-top: 5px;
  }

  .footer-item__title {
    font-size: 10px;
  }

  .logo {
  }

  /* ____menu burger___ */
  .header {
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  .header__menu-burger {
    display: block;
    color: var(--color-grey2);
    width: 35px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
    z-index: 10;
  }

  .menu-burger__btn {
    width: 100%;
    height: 2px;
    right: 10px;
    background-color: var(--color-grey1);
    transition: all 0.4s ease-in-out;
    z-index: 10;
    position: relative;
  }
  .menu-burger__btn::before,
  .menu-burger__btn::after {
    content: "";
    background-color: var(--color-grey1);
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 10;
    transition: all 0.4s ease-in-out;
  }
  .menu-burger__btn::before {
    top: 10px;
    z-index: 10;
    transition: all 0.4s ease-in-out;
  }
  .menu-burger__btn::after {
    bottom: 10px;
    z-index: 10;
    transition: all 0.4s ease-in-out;
  }

  .header__menu-burger.is-active .menu-burger__btn {
    transform: translateX(-50px);
    background: transparent;
    z-index: 10;
  }
  .header__menu-burger.is-active .menu-burger__btn::before {
    transform: rotate(45deg) translate(22px, -35px);
    z-index: 10;
  }
  .header__menu-burger.is-active .menu-burger__btn::after {
    transform: rotate(-45deg) translate(22px, 35px);
    z-index: 10;
  }

  /* ___NAV burger menu__ */
  .header-nav__items {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    background-color: var(--color-black2);
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }

  .nav-active {
    transform: translateX(0);
  }

  .header-nav__items {
    flex-direction: column;

    padding-top: 102px;
    padding-left: 70px;
  }

  
}

@media (max-width:699px) {
  .progress-container {
    display: none;
  }
  .progress-score {
    padding-left: unset;
  }

  .ball {
    padding-left: unset;
  }

  .arrow-p {
    right: 10px;
  }

  .top-block {
    flex-wrap: wrap;
  }

  .main__second-block {
    height: 100%;
  }
}

@media (max-width: 666px) {
 
  .progress-score {
    padding-left: unset;
  }

  .ball {
    padding-left: unset;
  }

  .arrow-p {
    right: 10px;
  }

  .top-block {
    flex-wrap: wrap;
  }

  .main__second-block {
    height: 100%;
  }

  .footer-item:nth-child(2),
  .footer-item:nth-child(3),
  .footer-item:nth-child(4) {
    padding: unset;
    }
}

@media (max-width: 540px) {
  .main__filter-block {
    width: 100%;
    margin-right: unset;
  }

  .grey-p {
    font-size: 10px;
    padding-top: 5px;
  }

  .first-column__item > h4,
  .second-column__item > h4 {
    font-size: 10px;
  }

  .span-content {
    font-size: 15px;
    margin: unset;
  }

  .box1-description {
    font-size: 13px;
  }

  .box1-title {
    font-size: 15px;
  }

  .end {
    padding: unset;
  }

  .footer-items {
    flex-direction: column;
  }

  .footer {
    height: 100%;
    padding-bottom: 10px;
  }

  .arrow-p {
    top: 10px;
  }
}


@media (max-width: 478px) {
  .main__right-block {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .box1__right-side {
    text-align: center;
  }

  .box1__left-side {
    margin: unset;
  }

  .columns-wrapper__df {
    justify-content: center;
  }

  .filter-block__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }
  .main__filter-block {
    height: 100%;
  }

  .filter-block__button {
    top: -9px;
    left: auto;
  }
}

@media (max-width: 444px) {
  .filter-block__button {
    top: -9px;
    left: 80px;
  }

  .top-block__items-title {
    padding-top: 10px;
  }
}
